@font-face {
  font-family: 'Istok Web';
  src: url('@/shared/assets/fonts/IstokWeb/IstokWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Istok Web';
  src: url('@/shared/assets/fonts/IstokWeb/IstokWeb-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Istok Web';
  src: url('@/shared/assets/fonts/IstokWeb/IstokWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}