:root {
  // fonts
  --font-family-main: 'Istok Web', sans-serif;
  --font-family-secondary: 'Inter', sans-serif;

  // fonts size
  --font-size-xxs: 14px;
  --font-size-xs: 16px;
  --font-size-s: 20px;
  --font-size-m: 24px;
  --font-size-l: 30px;
  --font-size-xl: 36px;
}