@import "./themes/light";
@import "./themes/dark";
@import "fonts";
@import "global-vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

.app {
  background-color: var(--bg-color);
  font-family: var(--font-family-main);
  height: 100vh;
}