.Button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--secondary-color);

  &:disabled {
    opacity: 0.65;
  }
}

.primary {
  background-color: var(--primary-color);
  color: var(--inverted-secondary-color);
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--inverted-secondary-hover-color);
  }
}

.clear {
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--clear-element-color);
  }
}

.max {
  width: 100%;
}

.s {
  padding: 4px 10px;
  font-size: var(--font-size-xs);
  border-radius: 5px;
}

.m {
  padding: 6px 12px;
  font-size: var(--font-size-s);
  border-radius: 7px;
}

.l {
  padding: 8px 14px;
  font-size: var(--font-size-m);
  border-radius: 10px;
}
