.label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 10px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: var(--placeholder-color);
  font-size: var(--font-size-xs);
  left: 16px;
}

.container {
  position: relative;

  &:focus-within .label {
    transform: translate(-10px, -8px) scale(0.8);
    background: var(--bg-color);
    padding: 0 7px;
  }
}

.filled {
  transform: translate(-10px, -8px) scale(0.8);
  background: var(--bg-color);
  padding: 0 7px;
}

.input {
  border-radius: 7px;
  font-size: var(--font-size-s);
  padding: 8px 14px;
  outline: none;
  background: none;
  width: 100%;
  caret-color: var(--primary-color);
  border: 1px solid var(--input-color);
  transition: 120ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: var(--secondary-color);

  &:hover {
    box-shadow: 0 0 0 1px var(--primary-color);
  }

  &:focus {
    border-color: transparent;
    box-shadow: 0 0 0 2px var(--primary-color);
  }

  &:disabled {
    opacity: 0.65;
  }

  &:disabled:hover {
    box-shadow: none;
  }
}

.error {
  .container:focus-within .label {
    color: var(--error-color);
  }

  .filled {
    color: var(--error-color);
  }

  // TODO: Input selector
  // stylelint-disable-next-line
  .input {
    box-shadow: 0 0 0 1px var(--error-color);
    border-color: var(--error-color);
    caret-color: var(--error-color);
  }
}
