.app-dark-theme {
  --bg-color: #1E1F22;
  --primary-color: #766AC8;
  --secondary-color: #ececec;

  --input-color: rgb(150 150 150 / 40%);
  --placeholder-color: #BCBCBC;

  --clear-element-hover-color: rgba(68, 68, 68, 0.5);
}