.app-dark-theme {
  --bg-color: #1E1F22;
  --primary-color: #766AC8;
  --secondary-color: #ececec;

  --input-color: rgb(150 150 150 / 40%);
  --placeholder-color: #BCBCBC;

  --button-color: #ececec;
  --button-hover-color: #5e549a;

  --clear-element-hover-color: rgb(68 68 68 / 50%);
}