.app-light-theme {
  --bg-color: #fff;
  --primary-color: #117BD4;
  --secondary-color: #000;

  --input-color: rgb(217 217 217 / 40%);
  --placeholder-color: #A0A0A0;

  --button-color: #fff;
  --button-hover-color: #0f76cb;

  --clear-element-color: rgb(234 234 234 / 50%);
}