.EmailForm {
  width: 250px;
}

.input {
  width: 100%;
  flex-grow: 1;
}

.lang {
  color: var(--primary-color);
}

.title {
  font-family: var(--font-family-secondary);
}

.show {
  animation: show-leave 300ms ease-in forwards;
}

@keyframes show-leave {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-100px);
  }
}